/* content ------------------*/
#centreLeft  img{
	-webkit-backface-visibility: hidden;
}

#centreMiddle  img{
	-webkit-backface-visibility: hidden;
}

#centreRight img{
	-webkit-backface-visibility: hidden;
}


#leftTopMiddle  img{
	z-index:4;
	-webkit-backface-visibility: hidden;
}

#middleTopMiddle  img{
	z-index:3;
	-webkit-backface-visibility: hidden;
}

#rightTopMiddle  img{
	z-index:2;
	-webkit-backface-visibility: hidden;
}


/* containers  ---------------------*/
#overlayContainer{
    z-index:5;
	-webkit-backface-visibility: hidden;
}

#main-container {
	width: 1920px;
	height: 1080px;
	position:absolute;
	background-color:#000000;
}

#Centre-container {
	width: 1920px;
	height: 1080px;
	top:0;
	right:0;
	position:absolute;
	background:white; 
	
}

/* Positioning classes ------------ */ 

.topLeft {
    position: absolute;
	top: 20px;
	left: 20px;
  	width: 900px;
	height: 500px;
}

.topRight {
    position: absolute;
	top: 20px;
	left: 1200px;
  	width: 900px;
	height: 500px;
}

.bottomRight {
    position:absolute;
	left:1200px;
	top:700px;
  	width: 600px;
	height: 300px;
}

.bottomLeft {
    position:absolute;
	left:20px;
	top:700px;
  	width: 600px;
	height: 300px;
}


.LeftMiddle {
    position:absolute;
	left:60px;
	top:280px;
  	width: 640px;
	height: 360px;
	z-index:3;
}

.Middle {
    position:absolute;
	left:600px;
	top:290px;
  	width: 640px;
	height: 360px;
	z-index:2;
}

.RightMiddle {
    position:absolute;
	left:1100px;
	top:300px;
  	width: 640px;
	height: 360px;
	z-index:1;
}

.overlayClass{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index:4;
}
