#rectangle{
    width:200px;
    height:100px;
    background:blue;
}

#overlay2{
    z-index:5;
}

#main1Style  img{
    position:relative;
	left:50px;
	top:50px;
  	width: 900px;
	height: 500px;
}

#main2Style  img{
    position:relative;
	left:1000px;
	top:100px;
  	width: 900px;
	height: 500px;
}

#centreImg6  img{
	-webkit-backface-visibility: hidden;
}

#centreImg5  img{
	-webkit-backface-visibility: hidden;
}

#centreImg4  img{
	-webkit-backface-visibility: hidden;
}


#centreImg1  img{
	z-index:4;
	-webkit-backface-visibility: hidden;
}

#centreImg2  img{
	z-index:3;
	-webkit-backface-visibility: hidden;
}

#centreImg3  img{
	z-index:2;
	-webkit-backface-visibility: hidden;
}


/* containers  ---------------------*/
#main-container {
	width: 1920px;
	height: 1080px;
	position:absolute;
	background-color:#9400D3;
}
/* 1 ---------------------*/
#Left-container {
	width: 1920px;
	height: 1080px;
	top:-100;
	right:1920;
	position:absolute;
	background:orange;
}
/* 2 ---------------------*/
#Centre-container {
	width: 1920px;
	height: 1080px;
	top:0;
	right:0;
	position:absolute;
	background:purple;
	z-index:1;
}

#Right-container {
	width: 1920px;
	height: 1080px;
	top:0;
	right:0;
	position:absolute;
	background:blue;
}

#vid-container {
	width: 1280px;
	height: 720px;
	position:absolute;
	bottom: 100px;
}

/* Positioning  */ 

.topLeft {
    position: absolute;
	top: 20px;
	left: 20px;
  	width: 900px;
	height: 500px;
}

.topRight {
    position: absolute;
	top: 20px;
	left: 1200px;
  	width: 900px;
	height: 500px;
}

.bottomRight {
    position:absolute;
	left:1200px;
	top:700px;
  	width: 600px;
	height: 300px;
}

.bottomLeft {
    position:absolute;
	left:20px;
	top:700px;
  	width: 600px;
	height: 300px;
}


.LeftMiddle {
    position:absolute;
	left:60px;
	top:280px;
  	width: 640px;
	height: 360px;
	z-index:3;
}

.Middle {
    position:absolute;
	left:600px;
	top:290px;
  	width: 640px;
	height: 360px;
	z-index:2;
}

.RightMiddle {
    position:absolute;
	left:1100px;
	top:300px;
  	width: 640px;
	height: 360px;
	z-index:1;
}

.overlay{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index:4;
}

.photo{
    height:50px;
    width:250px;
	background-color: #4CAF50;
    color: white;
	font-size: 20px;
    margin: 4px 2px;
}
