/* NVYVE */
/* Philip Ong   March 17,2017 */
.shadow {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

/* containers  ---------------------*/
#overlayContainer{
    /* z-index:5; */
	/*-webkit-backface-visibility: hidden;*/
}

#main-container {
	width: 1920px;
	height: 1080px;
	top:0;
	right:0;
	position:absolute;
	background-color:#000000;
	
	/* z-index:-1; */
}

#Centre-container {
	width: 1920px;
	height: 1080px;
	top:0;
	right:0;
	position:absolute;
	background:white; 
	/* background-image: url("01.jpg"); */
	
	/* z-index:0; */
}

/* content ------------------*/
#centreLeft  img{
	/*-webkit-backface-visibility: hidden;*/
}

#centreMiddle  img{
	/*-webkit-backface-visibility: hidden;*/
}

#centreRight img{
	/*-webkit-backface-visibility: hidden;*/
}
/*----Middle Content ------*/
#leftTopMiddle  img{
	/* z-index:4; */
	/*-webkit-backface-visibility: hidden;*/
}

#middleTopMiddle  img{
	/* z-index:3; */
	/*-webkit-backface-visibility: hidden;*/
}

#rightTopMiddle  img{
	/* z-index:2; */
	/*-webkit-backface-visibility: hidden;*/
}
/*----Back Content ------*/
#backLeft  img{
	/*-webkit-backface-visibility: hidden;*/
}
#backMiddle  img{
	/*-webkit-backface-visibility: hidden;*/
}
#backRight  img{
	/*-webkit-backface-visibility: hidden;*/
}

/* Shadow ------------------*/
#ShadowLeft img{
	/* z-index:3; */
	/*-webkit-backface-visibility: hidden;*/
}

#ShadowMid img{
	/* z-index:2; */
	/*-webkit-backface-visibility: hidden;*/
}

#ShadowRight img{
	/* z-index:1; */
	/*-webkit-backface-visibility: hidden;*/
}
/*----Middle Content ------*/
#ShadowCentreLeft img{
	/* z-index:1; */
	/*-webkit-backface-visibility: hidden;*/
}

#ShadowCentreMiddle img{
	/* z-index:1; */
	/*-webkit-backface-visibility: hidden;*/
}

#ShadowCentreRight img{
	/* z-index:1; */
	/*-webkit-backface-visibility: hidden;*/
}
/*----Back Content ------*/
#ShadowBackLeft img{
	/* z-index:0; */
	/*-webkit-backface-visibility: hidden;*/
}
#ShadowBackMiddle img{
	/* z-index:0; */
	/*-webkit-backface-visibility: hidden;*/
}
#ShadowBackRight img{
	/* z-index:0; */
	/*-webkit-backface-visibility: hidden;*/
}



/* Positioning classes ------------ */ 
.LeftTop {/* left top positioning with no shadow*/
    position:absolute;
	left:60px;
	top:280px;
  	width: 640px;
	height: 360px;
	z-index: 3;
	Opacity :1;
	-webkit-transform: translateZ(0);
}

.LeftTopShadow {/* left top positioning with shadow*/
    position:absolute;
	left:60px;
	top:280px;
  	width: 640px;
	height: 360px;
	z-index: 3;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	Opacity :1;
	-webkit-transform: translateZ(0);
}

.LeftShadowPos1
{
	position:absolute;
	left:26px;
	top:249px;
  	width: 680px;
	height: 400px;
	z-index: 3;
}

.LeftShadowPos2
{
	position:absolute;
	left:32px;
	top:243px;
  	width: 680px;
	height: 400px;
	z-index: 3;
}

.LeftShadowPosTrans
{
	position:absolute;
	left:28px;
	top:248px;
  	width: 680px;
	height: 400px;
	z-index: 3;
	Opacity :1;
	-webkit-transition-duration: 1s;
	-webkit-transition-timing-function: ease-out;
	Opacity :0;
}


.LeftTest {
	-webkit-transition-duration: 2s;
    -webkit-transition-timing-function: ease;
    position:absolute;
	left:60px;
	top:280px;
  	width: 640px;
	height: 360px;
	z-index: 3;
	Opacity :0;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
}

.LeftCentre {
    position:absolute;
	left:60px;
	top:420px;
  	width: 640px;
	height: 360px;
	z-index: 3;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	-webkit-transform: translateZ(0);
	/* -webkit-box-shadow: 5px 5px 20px black; */
}

/*No shadow rendering  */
.LeftCentreNS {
	    position:absolute;
	left:60px;
	top:420px;
  	width: 640px;
	height: 360px;
	z-index: 3;
	-webkit-transform: translateZ(0);
}

.LeftCentreShadow {
    position:absolute;
	left:40px;
	top:400px;
  	width: 680px;
	height: 400px;
	z-index:3;
}

.LeftBack {
    position:absolute;
	left:60px;
	top:420px;
  	width: 640px;
	height: 360px;
	z-index:2;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	/* -webkit-transform: translateZ(0); */
	/* -webkit-box-shadow: 5px 5px 20px black; */
}

/*No shadow rendering  */
.LeftBackNS {
    position:absolute;
	left:60px;
	top:420px;
  	width: 640px;
	height: 360px;
	z-index:2;
	-webkit-transform: translateZ(0);
}

.LeftBackShadow {
    position:absolute;
	left:40px;
	top:400px;
  	width: 680px;
	height: 400px;
	z-index:2;
}


.MiddleTop {/* middle top positioning with no shadow*/
    position:absolute;
	left:600px;
	top:290px;
  	width: 640px;
	height: 360px;
	z-index: 2;
	-webkit-transform: translateZ(0);
}

.MiddleShadow {/* middle top positioning with shadow*/
	position:absolute;
	left:600px;
	top:290px;
  	width: 640px;
	height: 360px;
	z-index: 2;
	/* -webkit-transition : transition-timing-function: ease; */
	/* -webkit-transition-duration: 2s; */
	/* -webkit-transition-timing-function: ease-out; */
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	
    /* position:absolute; */
	/* left:580px; */
	/* top:270px; */
  	/* width: 680px; */
	/* height: 400px; */
	/* z-index:2; */
}
.MiddleShadowPos1
{
	position:absolute;
	left:573px;
	top:252px;
  	width: 680px;
	height: 400px;
	z-index:2;
}

.MiddleShadowPos2
{
	position:absolute;
	left:565px;
	top:262px;
  	width: 680px;
	height: 400px;
	z-index:2;
}

.MiddleShadowPosTrans
{
	position:absolute;
	left:568px;
	top:256px;
  	width: 680px;
	height: 400px;
	z-index:2;
	Opacity :1;
	-webkit-transition-duration: 1s;
	-webkit-transition-timing-function: ease-out;
	Opacity :0;
}

.MiddleCentre {
    position:absolute;
	left:600px;
	top:390px;
  	width: 640px;
	height: 360px;
	z-index:2;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	-webkit-transform: translateZ(0);
	/* -webkit-box-shadow: 5px 5px 20px black; */
}

/*No shadow rendering  */
.MiddleCentreNS {
    position:absolute;
	left:600px;
	top:380px;
  	width: 640px;
	height: 360px;
	z-index:2;
	-webkit-transform: translateZ(0);
}

.MiddleCentreShadow {
    position:absolute;
	left:580px;
	top:370px;
  	width: 680px;
	height: 400px;
	z-index:2;
}

.MiddleBack {
    position:absolute;
	left:600px;
	top:390px;
  	width: 640px;
	height: 360px;
	z-index:2;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	-webkit-transform: translateZ(0);
}

/*No shadow rendering  */
.MiddleBackNS {
    position:absolute;
	left:600px;
	top:390px;
  	width: 640px;
	height: 360px;
	z-index:2;
	-webkit-transform: translateZ(0);
}

.MiddleBackShadow {
    position:absolute;
	left:580px;
	top:370px;
  	width: 680px;
	height: 400px;
	z-index:2;
}

.RightTop {/* right top positioning with no shadow*/
    position:absolute;
	left:1100px;
	top:300px;
  	width: 640px;
	height: 360px;
	z-index: 1;
	-webkit-transform: translateZ(0);
}

.RightTopShadow {/* right top positioning with shadow*/
	position:absolute;
	left:1100px;
	top:300px;
  	width: 640px;
	height: 360px;
	z-index: 1;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	-webkit-transform: translateZ(0);
}

.RightShadowPos1
{
	position:absolute;
	left:992px;
	top:260px;
  	width: 680px;
	height: 400px;
	z-index:1;
}

.RightShadowPos2
{
	position:absolute;
	left:1002px;
	top:255px;
  	width: 680px;
	height: 400px;
	z-index:1;
}

.RightShadowPosTrans
{
	position:absolute;
	left:997px;
	top:260px;
  	width: 680px;
	height: 400px;
	z-index:1;
	Opacity :1;
	-webkit-transition-duration: 1s;
	-webkit-transition-timing-function: ease-out;
	Opacity :0;
}

.RightCentre {
    position:absolute;
	left:1100px;
	top:300px;
  	width: 640px;
	height: 360px;
	z-index:1;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	-webkit-transform: translateZ(0);
	/* -webkit-box-shadow: 5px 5px 20px black; */
}

.RightCentreNS {
    position:absolute;
	left:1100px;
	top:300px;
  	width: 640px;
	height: 360px;
	z-index:1;
	-webkit-transform: translateZ(0);
}


.RightCentreShadow {
    position:absolute;
	left:1090px;
	top:280px;
  	width: 680px;
	height: 400px;
	z-index:1;
}

.RightBack {
    position:absolute;
	left:1100px;
	top:300px;
  	width: 640px;
	height: 360px;
	z-index:1;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	-webkit-transform: translateZ(0);
}


.RightBackNS {
    position:absolute;
	left:1100px;
	top:300px;
  	width: 640px;
	height: 360px;
	z-index:1;
	-webkit-transform: translateZ(0);
}

.RightBackShadow {
    position:absolute;
	left:1090px;
	top:280px;
  	width: 680px;
	height: 400px;
	z-index:1;
}

.overlayClass{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index:9;
}

.loadClass{
  position: absolute;
  bottom: 0;
  right: 0;
}
